extend _base

block append head
	link(href="index.css",rel="stylesheet")

block main
	.jumbotron
		.container
			p 
				img(src="logo-white-black.svg").img-fluid.center-block
			h2 Stop masse&shy;overvågning
			p.lead Regeringen ønsker at indføre masseovervågning af internettet i terrorbekæmpelsens navn. Masseovervågning går i mod vores basale retsprincipper og vil af tekniske årsager aldrig have den ønskede virkning. Den øgede overvågning vil til gengæld koste internetudbydere og forbrugere mange 100 millioner kr.
			p.strong Hjælp med at få politikerne på bedre tanker!
			p
				a(href="/underskriftindsamling",class="btn btn-lg btn-primary") Underskriftindsamling
	.section
		.container
			h2 Nyhedstrøm
			p.lead Nyheder omhandlende masseovervågning.
			each article in articles
				article.card.card-block
					h4.card-title= article.title
					p.card-text
						small.text-muted #{article.fromNow} via #{article.source}
					p.card-text= article.description
					a(href=article.url).btn.btn-primary Læs mere
	.section
		.container
			.row
				.col-sm-6.text-xs-center.padding-sm-vertical
					.img-circle.center-block.img-placeholder
				.col-sm-6.text-xs-center.padding-sm-vertical
					h2 Politikere
					p.lead Oversigt over politikere i folketinget.
					p
						a(href="/politikere").btn.btn-lg.btn-primary Læs mere
	.section.padding-lg-vertical
		.container
			.row
				.col-sm-6.pull-sm-right.text-xs-center.padding-sm-vertical
					.img-circle.center-block.img-placeholder
				.col-sm-6.pull-sm-left.text-xs-center.padding-sm-vertical
					h2 Politiske partier
					p.lead Oversigt over politiske partier i folketinget.
					p
						a(href="/politiske-partier").btn.btn-lg.btn-primary Læs mere
block append body
	script(src="/index.js")
