extend _base

block append head
	link(href="/politiker.css",rel="stylesheet")

block main
	.section
		.container
			.row
				.col-sm-3
					.card
						img(src="/img/" + politician.id + ".jpg").card-img-top.img-fluid.center-block
						ul.list-group.list-group-flush
							if politician.twitter
								li.list-group-item 
									a(href="https://twitter.com/"+ politician.twitter)
										span @
										span= politician.twitter
							if politicalParty
								li.list-group-item
									a(href="/politiske-partier/" + politicalParty.id)= politicalParty.name
							if politician.phone
								li.list-group-item= politician.phone
							if politician.email
								li.list-group-item 
									a(href="mailto:"+ politician.email)= politician.email
				.col-sm-9
					h1.card-title= politician.fullName					
					each line in politician.text
						p.card-text= line
					each tweet in tweets
						article.card.card-block
							p.card-text= tweet.text
							p.card-text
							small 
								span #{moment(tweet.created_at).fromNow()}
								span  via Twitter
