extend _base

block append head
	link(href="index.css",rel="stylesheet")

block main
	.jumbotron
		.container
			p 
				img(src="logo-white-black.svg").img-fluid.center-block
			h1= title
			p.lead Regeringen ønsker at indføre masseovervågning af internettet i terrorbekæmpelsens navn. Masseovervågning går i mod vores basale retsprincipper og vil af tekniske årsager aldrig have den ønskede virkning. Den øgede overvågning vil til gengæld koste internetudbydere og forbrugere mange 100 millioner kr.
			p.strong Hjælp med at få politikerne på bedre tanker!
			p
				a(href="/underskriftindsamling",class="btn btn-lg btn-primary") Underskriftindsamling
	.section
		.container
			h2 Artikler
			p 
				mall.text-muted  Følg med i hvad dagspressen skriver om emnet...
			each article in articles
				article.card.card-block
					h4.card-title= article.title
					p.card-text
						small.text-muted #{article.fromNow} via #{article.source}
					p.card-text= article.description
					a(href=article.url).btn.btn-primary Læs mere
block append body
	script(src="js/jquery-2.2.0.min.js")
	script(src="index.js")
